<!DOCTYPE html>
<html lang="en">
	<head>
		<title></title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
		<link rel="stylesheet" href="../css/index.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
	</head>
	<body class="blog">
		<div class="page">
			<div class="container">
				<div class="area">
					<div class="layout">
						<div class="content">
							<div class="profile">
								<a href="/templates">
									<img class="avatar" src="https://avatars.githubusercontent.com/u/121856799" width="60" height="60">
									<div class="name"> Inc44 </div>
								</a>
								<div class="description"> If you do have a problem, don't try to solve it; just hide it away 👌 </div>
								<div class="social">
									<span>
										<a href="https://github.com/Inc44">Github</a>
									</span>
								</div>
								<div class="menu">
									<ul class="list">
										<li>
											<a class="active" href="/templates">Articles</a>
										</li>
									</ul>
								</div>
							</div>
							<main class="articles">
								<article class="item">
									<a href="/templates">
										<div class="date"> Jan <span class="number">1</span>, <span class="number">2024</span> • <span class="number">10</span> min. read </div>
										<h2 class="header">Lorem ipsum dolor sit amet</h2>
										<p class="preview"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. A cras semper auctor neque vitae tempus quam pellentesque nec. Sit amet mauris commodo quis imperdiet massa tincidunt. Eu feugiat pretium nibh ipsum consequat. Nulla pellentesque dignissim enim sit amet venenatis urna. </p>
									</a>
								</article>
								<article class="item">
									<a href="/templates">
										<div class="date"> Jan <span class="number">1</span>, <span class="number">2024</span> • <span class="number">10</span> min. read </div>
										<h2 class="header">Lorem ipsum dolor sit amet</h2>
										<p class="preview"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. A cras semper auctor neque vitae tempus quam pellentesque nec. Sit amet mauris commodo quis imperdiet massa tincidunt. Eu feugiat pretium nibh ipsum consequat. Nulla pellentesque dignissim enim sit amet venenatis urna. </p>
									</a>
								</article>
								<article class="item">
									<a href="/templates">
										<div class="date"> Jan <span class="number">1</span>, <span class="number">2024</span> • <span class="number">10</span> min. read </div>
										<h2 class="header">Lorem ipsum dolor sit amet</h2>
										<p class="preview"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. A cras semper auctor neque vitae tempus quam pellentesque nec. Sit amet mauris commodo quis imperdiet massa tincidunt. Eu feugiat pretium nibh ipsum consequat. Nulla pellentesque dignissim enim sit amet venenatis urna. </p>
									</a>
								</article>
								<article class="item">
									<a href="/templates">
										<div class="date"> Jan <span class="number">1</span>, <span class="number">2024</span> • <span class="number">10</span> min. read </div>
										<h2 class="header">Lorem ipsum dolor sit amet</h2>
										<p class="preview"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. A cras semper auctor neque vitae tempus quam pellentesque nec. Sit amet mauris commodo quis imperdiet massa tincidunt. Eu feugiat pretium nibh ipsum consequat. Nulla pellentesque dignissim enim sit amet venenatis urna. </p>
									</a>
								</article>
							</main>
						</div>
					</div>
					<footer class="footer"> © 2024 All rights reserved. </footer>
				</div>
			</div>
		</div>
	</body>
</html>