<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
<div class="layout">
<div class="page-layout">
<div class="creator-profile">
<img
alt="me"
src="https://avatars.githubusercontent.com/u/121856799"
width="60"
height="60"
class="creator-profile-avatar">
<div class="creator-profile-name">
Inc44
</div>
<div>
If you do have a problem, don't try to solve it; just hide it away 👌
</div>
</div>
<div class="articles">

<div>
<div>
Jan <span>1</span>, <span>2024</span> • <span>10</span> min. read
</div>
<h2>Lorem ipsum dolor sit amet</h2>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. A cras semper auctor neque vitae tempus quam pellentesque nec. Sit amet mauris commodo quis imperdiet massa tincidunt. Eu feugiat pretium nibh ipsum consequat. Nulla pellentesque dignissim enim sit amet venenatis urna.
</p>
</div>

<div>
<div>
Jan <span>1</span>, <span>2024</span> • <span>10</span> min. read
</div>
<h2>Lorem ipsum dolor sit amet</h2>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. A cras semper auctor neque vitae tempus quam pellentesque nec. Sit amet mauris commodo quis imperdiet massa tincidunt. Eu feugiat pretium nibh ipsum consequat. Nulla pellentesque dignissim enim sit amet venenatis urna.
</p>
</div>

<div>
<div>
Jan <span>1</span>, <span>2024</span> • <span>10</span> min. read
</div>
<h2>Lorem ipsum dolor sit amet</h2>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. A cras semper auctor neque vitae tempus quam pellentesque nec. Sit amet mauris commodo quis imperdiet massa tincidunt. Eu feugiat pretium nibh ipsum consequat. Nulla pellentesque dignissim enim sit amet venenatis urna.
</p>
</div>

<div>
<div>
Jan <span>1</span>, <span>2024</span> • <span>10</span> min. read
</div>
<h2>Lorem ipsum dolor sit amet</h2>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. A cras semper auctor neque vitae tempus quam pellentesque nec. Sit amet mauris commodo quis imperdiet massa tincidunt. Eu feugiat pretium nibh ipsum consequat. Nulla pellentesque dignissim enim sit amet venenatis urna.
</p>
</div>

</div>
</div>
</div>
<footer>
© 2024 All rights reserved.
</footer>
</div>
</body>
</html>